/* write your override styles here */
#wall{
    display: none;
}

.tag-1 {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: none;
  }
/* 
  #wall .tag-1 {
    display: none;
  }
  #wall .tag-1 {
    display: none;
  }
  #wall .tag-1 {
    display: none;
  }
  #wall .tag-1 {
    display: none;
  }
  #wall .tag-1 {
    display: none;
  } */