#wall .tag-1 {
  display: none;
}
#wall div#tag-2{
    display: none;
}
#wall div#tag-3.slick.wicked {
    display: none;
}
div#wall div.parent div#tag-4{
    display: none;
}
div#wall div.parent div#tag-5.slick{
    display: none;
}
div#wall div.parent div > div#tag-6{
    display: none;
}
div#wall div.parent div > div#tag-7.slick{
    display: none;
}